@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap");
.view_blog_main_cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  position: relative;
}
.comment-right-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30vw;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 999999;
  box-shadow: -10px 10px 60px #000;
  overflow-y: scroll;
  transform: translateX(0);
  transition: all 0.2s;
  padding: 20px;
}

.hiddenComment {
  transform: translateX(40vw);
}
.view_blog_hr_line {
  padding: 0;
  margin: 0;
}
.post_comment_main {
  display: flex;
  flex-direction: column;
}
.post_comment_input {
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  outline: none;
  resize: none;
  min-height: 20px;
  padding: 20px;
  font-size: 20px;

  margin-bottom: 20px;
  border: 0;
  transition: all 0.2s;
  box-shadow:
    -11px 11px 22px #e8e8e8,
    11px -11px 22px #ffffff;
}

.post_comment_input::placeholder {
  vertical-align: middle;
}

.post_comment_input:focus,
.isHeight {
  min-height: 200px;
}
.post_comment_btn {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.view_blog_expressions {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.expression_comment {
  height: 30px;
  margin-right: 10px;
  transform: rotateY(180deg);
}
.view_blog_comment {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.view_blog_maindiv {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.view_blog_main_cont h1 {
  align-self: flex-start;
}

.blog_view_tag .PlaygroundEditorTheme__quote {
  margin: 20px 0;
  font-size: 22px;
}
.blog_view_tag pre {
  margin: 20px;
  background-color: #eaeaea;
  color: #0a0a0a;
  font-size: 14px;
}

.view_blog_maindiv .PlaygroundEditorTheme__ul {
  font-family: "Source Serif 4", serif;
}
.view_blog_maindiv .PlaygroundEditorTheme__h1 {
  margin: 20px 0;
}
.view_blog_maindiv .PlaygroundEditorTheme__paragraph {
  margin: 20px 0;
  font-family: "Source Serif 4", serif;
}

.view_blog_user {
  max-width: 100%;
  margin: 20px 0;
  display: flex;
}

.view_blog_user_avatar {
  width: 40px;
  fill: #eaeaea;
}
.view_blog_user_details {
  margin-left: 10px;
  cursor: default;
}
.view_blog_user_name {
  font-weight: bold;
}
.view_blog_created_at {
  opacity: 0.5;
}
